html {
  &.js {
    justify-items: initial;
  }
}

body {

  &.kodeks-load * {
    transition: none !important;
  }

  &.menu-open {
    overflow: hidden;
    position: fixed;
    width: 100%;

  }
}

.section-padding {
    &.top {
        padding-top: rem-calc(190);
        @include breakpoint(medium only) {
          padding-top: rem-calc(120);
        }
        @include breakpoint(small only) {
          padding-top: rem-calc(60);
        }
    }
    &.bottom {
        padding-bottom: rem-calc(176);
        @include breakpoint(medium only) {
          padding-bottom: rem-calc(120);
        }
        @include breakpoint(small only) {
          padding-bottom: rem-calc(60);
        }
    }
}

h1 {
    letter-spacing: -0.3rem;
}
@include breakpoint(medium only) {
    h1 {
        letter-spacing: -0.15rem;
    }
}
@include breakpoint(small only) {
    h1 {
        letter-spacing: -0.1rem;
    }
}

@include base-fonts;

#site-content,
.site-footer,
.site-header,
.testing-columns {
  container: main / inline-size;
}

.odd {
    background-color: #EFEFEF;
}
.even {
    background-color: #CFCFCF;
}

.side-padding {
    padding-left: 5.575%;
    padding-right: 5.575%;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
    &.square, &.portrait, &.landscape, &.circle, &.four-three, &.panorama {
        img {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%) scale(1);
            transition: transform ease-in-out 0.2s;
            z-index: 2;
        }
    }
    &.square {
        padding-top: 100%;
    }
    &.portrait {
        padding-top: 120%;
    } 
    &.panorama {
        padding-top: 45.99%;
    }
    &.landscape {
        padding-top: 52.08%;
    }
    &.four-three {
        padding-top: 75%;
    }
    &.circle {
        border-radius: 50%;
    }
    &.full-height {
        img {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%) scale(1);
            transition: transform ease-in-out 0.2s;
            z-index: 2;
        }
        height: 100%;
        width: 100%;
    }
    
    
     
    
    @include breakpoint(small only) {
        &.full-height {
            padding-bottom: 75%;
        }
    }
}

.primary-color {
  background-color: var(--primary-color);
}

.secondary-color {
  background-color: var(--secondary-color);
  color: var(--white);
  h1,h2,h3,h4,h5,h6,p,a {
    color: var(--white);
  }
}

p.quote {
    font: var(--quote-font);  
    letter-spacing: -0.17rem;
}


#skip-to-content {
  position: fixed;
  top: 15px;
  left: 15px;
  pointer-events: none;
  opacity: 0;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  background-color: #000;
  text-decoration: none;
  border-radius: 5px;
  z-index: 9999;

  &:focus {
    pointer-events: all;
    opacity: 1;
    border: 0;
    outline: none;
  }
}

[class^="icon"] {
  width: 24px;
  height: 24px;
  display: block;

  &::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: #000;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
  }
}


body.home {
  background-color: var(--primary-color);

  &.blue {
    background-color: var(--secondary-color);
    
  }
}


.error404 {
  padding-top: rem-calc(190);
  padding-bottom: rem-calc(190);
}